<section class="footer container-fluid">
   <div class="ap">
      <a href=""><h3>#diegoSalvañá</h3></a>
      <ul class="list">
         <li><a [routerLink]="['/portfolio']" fragment="inicio">Inicio</a></li>
         <li><a [routerLink]="['/portfolio']" fragment="acerca">Acerca</a></li>
         <li><a [routerLink]="['/portfolio']" fragment="experiencia">Experiencia Laboral</a></li>
         <li><a [routerLink]="['/portfolio']" fragment="educacion">Educación</a></li>
         <li><a [routerLink]="['/portfolio']" fragment="habilidades">Habilidades</a></li>
         <li><a [routerLink]="['/portfolio']" fragment="proyectos">Proyectos</a></li>
      </ul>
   </div>
   <div class="redes">
      <h5>Redes</h5>
      <a href="https://www.instagram.com/diegofsalva/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <!-- <a target="_blank"><i class="fa-brands fa-facebook-f"></i></a> -->
      <a href="https://github.com/Diego-Salvana/Argentina-Programa-Portafolio" target="_blank"><i class="fa-brands fa-github"></i></a>
   </div>
</section>
