<section class="footer container-fluid">
   <div class="ap">
      <a href=""><h3>#diegoSalvañá</h3></a>
      <ul class="list">
         <li><a href="#inicio">Inicio</a></li>
         <li><a href="#acerca">Acerca</a></li>
         <li><a href="#experiencia">Experiencia Laboral</a></li>
         <li><a href="#educacion">Educación</a></li>
         <li><a href="#habilidades">Habilidades</a></li>
         <li><a href="#proyectos">Proyectos</a></li>
      </ul>
   </div>
   <div class="redes">
      <h5>Redes</h5>
      <a href="https://www.instagram.com/diegofsalva/?hl=es-la" target="_blank"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://www.facebook.com/diego.salvana" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="https://github.com/Diego-Salvana/Argentina-Programa-Portafolio" target="_blank"><i class="fa-brands fa-github"></i></a>
   </div>
</section>
