<section id="habilidades" class="hard-skills container-fluid">
   <i
      class="fa-solid fa-plus"
      title="Agregar"
      (click)="agregar()"
      *ngIf="isActive"
   ></i>
   <h2>Habilidades</h2>
   <app-form-agreg
      clase="form-agregar"
      titulo="Agregar Habilidad"
      labelUno="Ícono (formato HTML)"
      labelDos="Título"
      labelTres="Porcentaje"
      input3Type="number"
      [ngStyle]="{ display: displayForm }"
      (itemEmitter)="add($event)"
   >
   </app-form-agreg>

   <article class="hs-container">
      <app-card-habil
         *ngFor="let hab of listaHabilidades"
         [id]="hab.id"
         [iconoHTML]="hab.iconoHTML"
         [titulo]="hab.titulo"
         [porcentaje]="hab.porcentaje"
         (submitEmitter)="toggle($event)"
         (deleteEmitter)="delete(hab)"
      ></app-card-habil>

      <!-- <div class="hs-item html">
         <div><i class="fa-brands fa-html5"></i></div>
         <h6>HTML 5</h6>
         <div class="progress">
            <div class="progress-bar" role="progressbar">80%</div>
         </div>
      </div>


      <div class="hs-item css">
         <div><i class='fa-brands fa-css3-alt'></i></div>
         <h6>CSS 3</h6>
         <div class="progress">
            <div class="progress-bar" role="progressbar">80%</div>
         </div>
      </div>
      <div class="hs-item js">
         <div><i class="fa-brands fa-js"></i></div>
         <h6>JavaScript</h6>
         <div class="progress">
            <div class="progress-bar" role="progressbar">70%</div>
         </div>
      </div>
      <div class="hs-item java">
         <div><i class="fa-brands fa-java"></i></div>
         <h6>Java</h6>
         <div class="progress">
            <div class="progress-bar" role="progressbar">60%</div>
         </div>
      </div>
      <div class="hs-item angular">
         <div><i class="fa-brands fa-angular"></i></div>
         <h6>Angular</h6>
         <div class="progress">
            <div class="progress-bar" role="progressbar">60%</div>
         </div>
      </div>
      <div class="hs-item bootstrap">
         <div><i class="fa-brands fa-bootstrap"></i></div>
         <h6>Bootstrap</h6>
         <div class="progress">
            <div class="progress-bar" role="progressbar">75%</div>
         </div>
      </div>
      <div class="hs-item github">
         <div><i class="fa-brands fa-github"></i></div>
         <h6>Git-Hub</h6>
         <div class="progress">
            <div class="progress-bar" role="progressbar">80%</div>
         </div>
      </div>
      <div class="hs-item mysql">
         <div><img src="../../../assets/mysql.png" alt="" /></div>
         <h6>MySQL</h6>
         <div class="progress">
            <div class="progress-bar" role="progressbar">50%</div>
         </div>
      </div> -->
   </article>
   <hr />
</section>
