<section id="educacion" class="education container-fluid">
   <i
      class="fa-solid fa-plus"
      title="Agregar"
      (click)="agregar()"
      *ngIf="isActive"
   ></i>
   <h2>Educación</h2>
   <app-form-agreg
      clase="form-agregar"
      titulo="Agregar Educación"
      labelUno="Institución"
      labelDos="Carrera"
      labelTres="Estado"
      [ngStyle]="{ display: displayForm }"
      (itemEmitter)="add($event)"
   >
   </app-form-agreg>

   <div>
      <app-card-info
         *ngFor="let edu of educationList"
         [id]="edu.id"
         [prop1]="edu.institucion"
         [prop2]="edu.carrera"
         [prop3]="edu.estado"
         (deleteEmitter)="delete(edu)"
         formTitle="Modificar Educación:"
         formLabelUno="Institución"
         formLabelDos="Carrera"
         formLabelTres="Estado"
         (submitEmitter)="toggle($event)"
      ></app-card-info>
   </div>
</section>
<hr />
