/*---  Agregar  ---*/
.form-agregar {
   width: 70%;
   margin: auto;
}

.form-agregar input {
   width: 100%;
   margin-bottom: 1rem;
}

.form-agregar textarea {
   width: 100%;
   margin-bottom: 1rem;
}

