<section id="proyectos" class="proyectos container-fluid">
   <i
      class="fa-solid fa-plus"
      title="Agregar"
      (click)="agregar()"
      *ngIf="isActive"
   ></i>
   <h2>Proyectos</h2>
   <app-form-agreg
      clase="form-agregar"
      titulo="Agregar Proyecto"
      labelUno="Nombre del proyecto"
      labelDos="Descripción"
      labelTres="Links"
      [ngStyle]="{ display: displayForm }"
      (itemEmitter)="add($event)"
   >
   </app-form-agreg>
   <div>
      <app-card-info
         *ngFor="let project of projectsList"
         [id]="project.id"
         [prop1]="project.nombre"
         [prop2]="project.descripcion"
         [prop3]="project.link"
         [linkActivo]="true"
         opcionalDos="Link: "
         (deleteEmitter)="delete(project)"
         formTitle="Modificar Proyecto:"
         formLabelUno="Nombre"
         formLabelDos="Descripción"
         formLabelTres="Link"
         (submitEmitter)="toggle($event)"
      ></app-card-info>
   </div>
</section>
