.acerca {
   background-color: #5f9ea0ee;
   position: relative;
}

.acerca > p {
   padding: 0 11vw;
   font-size: 1.2rem;
   text-align: center;
}

.form-acerca {
   width: 70%;
   margin: auto;
}

.form-acerca textarea {
   width: 100%;
   margin-bottom: 0.5rem;
}
