.form-login {
   padding: 5rem 1rem;
   margin: auto;
   max-width: 600px;
}

.span-container {
   text-align: center;
   padding: 2rem 0;
}

.irPortfolio:hover {
   cursor: pointer;
   color: blue;
}
