<section>
   <form class="form-login">
      <div class="mb-3">
         <label for="text" class="form-label">Usuario</label>
         <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            aria-describedby="emailHelp"
            [(ngModel)]="user"
         />
      </div>
      <div class="mb-3">
         <label for="password" class="form-label">Contraseña</label>
         <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            [(ngModel)]="password"
         />
      </div>
      <button type="submit" class="btn btn-primary" (click)="ingresar()">
         Ingresar
      </button>
      <div class="span-container">
         <span class="irPortfolio" (click)="irPortfolio()">Ir a Portfolio</span>
      </div>
   </form>
</section>
