<section id="experiencia" class="experience container-fluid">
   <i
      class="fa-solid fa-plus"
      title="Agregar"
      (click)="agregar()"
      *ngIf="isActive"
   ></i>
   <h2>Experiencia Laboral</h2>
   <app-form-agreg
      clase="form-agregar"
      titulo="Agregar Experiencia"
      labelUno="Empresa"
      labelDos="Función"
      labelTres="Años"
      [ngStyle]="{ display: displayForm }"
      (itemEmitter)="add($event)"
   >
   </app-form-agreg>
   <div>
      <app-card-info
         *ngFor="let exp of experienceList"
         [id]="exp.id"
         [prop1]="exp.empresa"
         [prop2]="exp.funcion"
         [prop3]="exp.anio"
         (deleteEmitter)="delete(exp)"
         formTitle="Modificar Experiencia:"
         formLabelUno="Empresa"
         formLabelDos="Función"
         formLabelTres="Años"
         (submitEmitter)="toggle($event)"
      ></app-card-info>
   </div>
</section>
<hr />
