<nav class="navbar navbar-light bg-light">
   <div class="container-fluid">
      <div class="navbar-brand">
         <img src="../../../assets/Logo_ArgentinaPrograma.png" class="ap-logo" alt="Argentina Programa">
      </div>
      <div class="redes">
         <a href=""><i class="fa-brands fa-instagram"></i></a>
         <a href=""><i class="fa-brands fa-facebook-f"></i></a>
         <button
            type="button"
            class="btn"
            [ngStyle]="{ 'background-color': color }"
            (click)="onClick()"
         >
            {{ text }}
         </button>
      </div>
   </div>
</nav>
