body {
   width: 100%;
   max-width: 2100px;
   margin: auto;
   overflow-x: hidden;
}

.container-fluid {
   padding: 0 0 2rem;
   overflow-x: hidden;
   position: relative;
}

.container-fluid > h2 {
   padding-top: 1rem;
   margin-bottom: 1rem;
   text-align: center;
   color: #f9b627;
   font-size: calc(1.5rem + 0.9vw);
   font-weight: 400;
}

/* Íconos */
.fa-plus {
   font-size: 1.8rem;
   border-bottom: solid thin #000;
   position: absolute;
   right: 3vw;
   top: 20px;
   cursor: pointer;
}

.btn-form {
   max-width: 100px;
}
