body {
   width: 100%;
   overflow-x: hidden;
}

.container-fluid {
   padding: 0 0 2rem;
   overflow-x: hidden;
   position: relative;
}

.container-fluid > h2 {
   padding-top: 1rem;
   margin-bottom: 1rem;
   text-align: center;
   color: #f9b627;
   font-size: calc(1.5rem + 0.9vw);
   font-weight: 400;
}

/* Cards para info de base de datos */
.card-info {
   display: flex;
   margin: 4.5rem 10vw;
   position: relative;
}

.card-info__icon-container {
   width: 20vw;
   display: flex;
   justify-content: center;
   align-items: center;
}

.card-info__icon-container i {
   font-size: 3rem;
}

.card-info__description {
   padding-left: 15px;
   flex: 1;
}

.card-info__description p {
   font-size: 16px;
   margin-bottom: 0;
}

/* Iconos */
.fa-plus {
   font-size: 1.8rem;
   border-bottom: solid thin #000;
   position: absolute;
   right: 3vw;
   top: 20px;
   cursor: pointer;
}

.fa-pencil,
.fa-trash-can {
   font-size: 1.5rem;
   border-bottom: solid thin #000;
   position: absolute;
   right: 3vw;
   top: 20px;
   cursor: pointer;
}

.card-info .fa-pencil {
   top: 0;
   right: 2.5rem;
   font-size: 1.2rem;
}

.card-info .fa-trash-can {
   top: 0;
   right: 0;
   font-size: 1.2rem;
}

/*--- Formulario Modificar  ---*/
.form-modificar {
   width: 50vw;
   margin-top: 1rem;
}

.form-modificar input {
   width: 100%;
   margin-bottom: 0.5rem;
}

.btn-form {
   max-width: 100px;
}


