<div class="card-info">
   <div class="card-info__logo">
      <i class="fa-solid fa-cubes"></i>
   </div>

   <div class="card-info__description">
      <div class="tileIcons-container">
         <div class="description-icons" *ngIf="isActive">
            <i
            class="fa-solid fa-pencil"
            title="Editar"
            (click)="showForm()"
            ></i>
            <i
            class="fa-solid fa-trash-can"
            title="Eliminar"
            (click)="delete()"
            ></i>
         </div>
         <h3 class="description-title">{{ prop1 }}</h3>
      </div>
      <p>{{ prop2 }}</p>
      <p>{{ prop3 }}</p>

      <!-- Formulario para modificar educación -->
      <form class="form-modificar" [ngStyle]="{ display: cardFormDisplay }">
         <h5>{{ formTitle }}</h5>
         <div>
            <label for="prop-1">{{ formLabelUno }}</label>
            <input type="text" name="prop-1" [(ngModel)]="prop1" />
         </div>

         <div>
            <label for="prop-2">{{ formLabelDos }}</label>
            <textarea type="text" name="prop-2" [(ngModel)]="prop2"></textarea>
         </div>
         <div>
            <label for="prop-3">{{ formLabelTres }}</label>
            <input type="text" name="prop-3" [(ngModel)]="prop3" />
         </div>
         <input
            type="submit"
            value="Guardar"
            class="btn-form"
            (click)="submit()"
         />
      </form>
   </div>
</div>
